h1{
  font-size: 45px;
  text-align: center;
}

article{
  border-style: outset;
  border-radius: 6px;
  /*width: 500px;*/
}

#tweet{
  font-size: 22px;
  text-align: center;
  background-color: #EEF1E3;
}

textarea{
  font-size: 17px;
}

input{
  font-size: 17px;
}

button{
  font-size: 17px;
}

p{
  margin-left: 50px;
  font-size: 18px;
}
